ProveedorServicioHospital/WebContent/wsdl/BoxIdWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservices" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservices" xmlns:intf="http://webservices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservices" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="obtenerNombreBoxPorId">
    <complexType>
     <sequence>
      <element name="idBox" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenerNombreBoxPorIdResponse">
    <complexType>
     <sequence>
      <element name="obtenerNombreBoxPorIdReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="obtenerNombreBoxPorIdResponse">

      <wsdl:part element="impl:obtenerNombreBoxPorIdResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerNombreBoxPorIdRequest">

      <wsdl:part element="impl:obtenerNombreBoxPorId" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="BoxIdWS">

      <wsdl:operation name="obtenerNombreBoxPorId">

         <wsdl:input message="impl:obtenerNombreBoxPorIdRequest" name="obtenerNombreBoxPorIdRequest">

       </wsdl:input>

         <wsdl:output message="impl:obtenerNombreBoxPorIdResponse" name="obtenerNombreBoxPorIdResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="BoxIdWSSoapBinding" type="impl:BoxIdWS">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="obtenerNombreBoxPorId">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="obtenerNombreBoxPorIdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="obtenerNombreBoxPorIdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="BoxIdWSService">

      <wsdl:port binding="impl:BoxIdWSSoapBinding" name="BoxIdWS">

         <wsdlsoap:address location="http://localhost:8080/ProveedorServicioHospital/services/BoxIdWS"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
