ProveedorServicioHospital/WebContent/wsdl/BuscarHoraAPSWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservices" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservices" xmlns:intf="http://webservices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservices" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="obtenerHoraAPS">
    <complexType>
     <sequence>
      <element name="idMedico" type="xsd:int"/>
      <element name="fecha1" type="xsd:dateTime"/>
      <element name="fecha2" type="xsd:dateTime"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenerHoraAPSResponse">
    <complexType>
     <sequence>
      <element name="obtenerHoraAPSReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="obtenerHoraAPSRequest">

      <wsdl:part element="impl:obtenerHoraAPS" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerHoraAPSResponse">

      <wsdl:part element="impl:obtenerHoraAPSResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="BuscarHoraAPSWS">

      <wsdl:operation name="obtenerHoraAPS">

         <wsdl:input message="impl:obtenerHoraAPSRequest" name="obtenerHoraAPSRequest">

       </wsdl:input>

         <wsdl:output message="impl:obtenerHoraAPSResponse" name="obtenerHoraAPSResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="BuscarHoraAPSWSSoapBinding" type="impl:BuscarHoraAPSWS">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="obtenerHoraAPS">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="obtenerHoraAPSRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="obtenerHoraAPSResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="BuscarHoraAPSWSService">

      <wsdl:port binding="impl:BuscarHoraAPSWSSoapBinding" name="BuscarHoraAPSWS">

         <wsdlsoap:address location="http://localhost:8080/ProveedorServicioHospital/services/BuscarHoraAPSWS"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
