ProveedorServicioHospital/WebContent/wsdl/MedicoEspecialidadWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservices" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservices" xmlns:intf="http://webservices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservices" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="obtenerMedicosPorEspecialidad">
    <complexType>
     <sequence>
      <element name="idEspecialidad" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenerMedicosPorEspecialidadResponse">
    <complexType>
     <sequence>
      <element name="obtenerMedicosPorEspecialidadReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="obtenerMedicosPorEspecialidadRequest">

      <wsdl:part element="impl:obtenerMedicosPorEspecialidad" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerMedicosPorEspecialidadResponse">

      <wsdl:part element="impl:obtenerMedicosPorEspecialidadResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="MedicoEspecialidadWS">

      <wsdl:operation name="obtenerMedicosPorEspecialidad">

         <wsdl:input message="impl:obtenerMedicosPorEspecialidadRequest" name="obtenerMedicosPorEspecialidadRequest">

       </wsdl:input>

         <wsdl:output message="impl:obtenerMedicosPorEspecialidadResponse" name="obtenerMedicosPorEspecialidadResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="MedicoEspecialidadWSSoapBinding" type="impl:MedicoEspecialidadWS">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="obtenerMedicosPorEspecialidad">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="obtenerMedicosPorEspecialidadRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="obtenerMedicosPorEspecialidadResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="MedicoEspecialidadWSService">

      <wsdl:port binding="impl:MedicoEspecialidadWSSoapBinding" name="MedicoEspecialidadWS">

         <wsdlsoap:address location="http://localhost:8080/ProveedorServicioHospital/services/MedicoEspecialidadWS"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
