ProveedorServicioHospital/WebContent/wsdl/ObtenerMedicosMasSolicitadosWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservices" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservices" xmlns:intf="http://webservices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservices" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="obtenerMedicoMasSolicitado">
    <complexType>
     <sequence>
      <element name="fecha1" type="xsd:dateTime"/>
      <element name="fecha2" type="xsd:dateTime"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenerMedicoMasSolicitadoResponse">
    <complexType>
     <sequence>
      <element name="obtenerMedicoMasSolicitadoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="obtenerMedicoMasSolicitadoRequest">

      <wsdl:part element="impl:obtenerMedicoMasSolicitado" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerMedicoMasSolicitadoResponse">

      <wsdl:part element="impl:obtenerMedicoMasSolicitadoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ObtenerMedicosMasSolicitadosWS">

      <wsdl:operation name="obtenerMedicoMasSolicitado">

         <wsdl:input message="impl:obtenerMedicoMasSolicitadoRequest" name="obtenerMedicoMasSolicitadoRequest">

       </wsdl:input>

         <wsdl:output message="impl:obtenerMedicoMasSolicitadoResponse" name="obtenerMedicoMasSolicitadoResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ObtenerMedicosMasSolicitadosWSSoapBinding" type="impl:ObtenerMedicosMasSolicitadosWS">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="obtenerMedicoMasSolicitado">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="obtenerMedicoMasSolicitadoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="obtenerMedicoMasSolicitadoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ObtenerMedicosMasSolicitadosWSService">

      <wsdl:port binding="impl:ObtenerMedicosMasSolicitadosWSSoapBinding" name="ObtenerMedicosMasSolicitadosWS">

         <wsdlsoap:address location="http://localhost:8080/ProveedorServicioHospital/services/ObtenerMedicosMasSolicitadosWS"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
