ProveedorServicioHospital/WebContent/wsdl/ObtenerPacienteMasAtendidoWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservices" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservices" xmlns:intf="http://webservices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservices" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="pacienteMasAtendido">
    <complexType>
     <sequence>
      <element name="fecha1" type="xsd:dateTime"/>
      <element name="fecha2" type="xsd:dateTime"/>
     </sequence>
    </complexType>
   </element>
   <element name="pacienteMasAtendidoResponse">
    <complexType>
     <sequence>
      <element name="pacienteMasAtendidoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="pacienteMasAtendidoResponse">

      <wsdl:part element="impl:pacienteMasAtendidoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="pacienteMasAtendidoRequest">

      <wsdl:part element="impl:pacienteMasAtendido" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ObtenerPacienteMasAtendidoWS">

      <wsdl:operation name="pacienteMasAtendido">

         <wsdl:input message="impl:pacienteMasAtendidoRequest" name="pacienteMasAtendidoRequest">

       </wsdl:input>

         <wsdl:output message="impl:pacienteMasAtendidoResponse" name="pacienteMasAtendidoResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ObtenerPacienteMasAtendidoWSSoapBinding" type="impl:ObtenerPacienteMasAtendidoWS">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="pacienteMasAtendido">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="pacienteMasAtendidoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="pacienteMasAtendidoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ObtenerPacienteMasAtendidoWSService">

      <wsdl:port binding="impl:ObtenerPacienteMasAtendidoWSSoapBinding" name="ObtenerPacienteMasAtendidoWS">

         <wsdlsoap:address location="http://localhost:8080/ProveedorServicioHospital/services/ObtenerPacienteMasAtendidoWS"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
