ProveedorServicioHospital/WebContent/wsdl/ObtenerPorcentajeOcupacionMedicoWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservices" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservices" xmlns:intf="http://webservices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservices" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="obtenerPorcentajeOcupacionMedico">
    <complexType>
     <sequence>
      <element name="idMedico" type="xsd:int"/>
      <element name="fecha1" type="xsd:dateTime"/>
      <element name="fecha2" type="xsd:dateTime"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenerPorcentajeOcupacionMedicoResponse">
    <complexType>
     <sequence>
      <element name="obtenerPorcentajeOcupacionMedicoReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="obtenerPorcentajeOcupacionMedicoRequest">

      <wsdl:part element="impl:obtenerPorcentajeOcupacionMedico" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerPorcentajeOcupacionMedicoResponse">

      <wsdl:part element="impl:obtenerPorcentajeOcupacionMedicoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ObtenerPorcentajeOcupacionMedicoWS">

      <wsdl:operation name="obtenerPorcentajeOcupacionMedico">

         <wsdl:input message="impl:obtenerPorcentajeOcupacionMedicoRequest" name="obtenerPorcentajeOcupacionMedicoRequest">

       </wsdl:input>

         <wsdl:output message="impl:obtenerPorcentajeOcupacionMedicoResponse" name="obtenerPorcentajeOcupacionMedicoResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ObtenerPorcentajeOcupacionMedicoWSSoapBinding" type="impl:ObtenerPorcentajeOcupacionMedicoWS">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="obtenerPorcentajeOcupacionMedico">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="obtenerPorcentajeOcupacionMedicoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="obtenerPorcentajeOcupacionMedicoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ObtenerPorcentajeOcupacionMedicoWSService">

      <wsdl:port binding="impl:ObtenerPorcentajeOcupacionMedicoWSSoapBinding" name="ObtenerPorcentajeOcupacionMedicoWS">

         <wsdlsoap:address location="http://localhost:8080/ProveedorServicioHospital/services/ObtenerPorcentajeOcupacionMedicoWS"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
