ProveedorServicioHospital/WebContent/wsdl/ReservarHoraAPSWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservices" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservices" xmlns:intf="http://webservices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservices" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="reservarHoraAPS">
    <complexType>
     <sequence>
      <element name="idHoraMedicaAPS" type="xsd:int"/>
      <element name="idPaciente" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="reservarHoraAPSResponse">
    <complexType>
     <sequence>
      <element name="reservarHoraAPSReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="reservarHoraAPSResponse">

      <wsdl:part element="impl:reservarHoraAPSResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="reservarHoraAPSRequest">

      <wsdl:part element="impl:reservarHoraAPS" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ReservarHoraAPSWS">

      <wsdl:operation name="reservarHoraAPS">

         <wsdl:input message="impl:reservarHoraAPSRequest" name="reservarHoraAPSRequest">

       </wsdl:input>

         <wsdl:output message="impl:reservarHoraAPSResponse" name="reservarHoraAPSResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ReservarHoraAPSWSSoapBinding" type="impl:ReservarHoraAPSWS">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="reservarHoraAPS">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="reservarHoraAPSRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="reservarHoraAPSResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ReservarHoraAPSWSService">

      <wsdl:port binding="impl:ReservarHoraAPSWSSoapBinding" name="ReservarHoraAPSWS">

         <wsdlsoap:address location="http://localhost:8080/ProveedorServicioHospital/services/ReservarHoraAPSWS"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
